@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Rubik";
  font-size: 24px;
}

header {
  background-color: rgb(200, 200, 200);
  padding: 24px;
  > h1 {
    font-size: 2rem;
  }
}

main {
  background-color: rgb(230, 230, 230);
  min-height: 100vh;
  padding: 24px;

  > div.toggle-container {
    display: flex;
    align-items: center;
    gap: 8px;

    > label {
      > span {
        color: rgb(0, 0, 120);
      }
    }

    > button.toggle {
      position: relative;
      background-color: white;
      width: 60px;
      height: 30px;
      margin-top: 12px;
      margin-bottom: 12px;
      border-radius: 80px;
      border: 1px solid rgb(200, 200, 200);

      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        margin-top: 4px;
        margin-left: 4px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: black;
        transition: 0.4s;
      }

      &.active {
        &::before {
          background-color: rgb(0, 0, 120);
          transform: translateX(30px);
        }
      }
    }

    > label.label-toggle {
      font-size: 0.7rem;
    }
  }

  > p.input-error {
    margin-left: 4px;
    color: red;
    font-size: 0.7rem;
    height: 25px;
  }

  > p.app-description {
    width: 48ch;
    margin: 36px 0;
  }

  > div.weather-container {
    margin-top: 36px;
    > div.weather {
      display: flex;
      gap: 16px;
      margin: 36px 0;
      border: 1px solid rgb(200, 200, 200);
      padding: 16px;
      background-color: white;

      > img.weather-image {
        width: 200px;
        height: 200px;
        border: 1px solid black;
      }

      > div.weather-data {
        align-self: center;
      }
    }
  }

  > form {
    display: flex;

    > img.icon-loading {
      visibility: hidden;

      &.active {
        visibility: visible;
        transform: rotate(3000000deg);
        transition: 5000s;
      }
    }

    > input {
      border: 1px solid rgb(200, 200, 200);
      border-right: none;
      padding: 4px 12px 4px 12px;
      font-size: 0.8rem;
      background-color: white;

      &:focus {
        outline: none;
        border: 1px solid black;
        border-right: none;
      }
    }

    > button {
      border: 0;
      background-color: black;
      padding: 0.3rem;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      transition: 0.6s;

      &:hover {
        background-color: rgb(0, 0, 120);
      }
    }
  }
}
